@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    --primary-color: rgb(30, 30, 243);
    --second-color: rgb(235, 235, 244);
}

input[type="number"] {
    @apply text-[var(--primary-color)] outline-none bg-transparent border-2 p-2 border-blue-600 rounded-full
}
input[type="submit"] {
    @apply w-full  border-2  px-4 py-2 rounded-full 
}
/* input[type="submit"]:hover {
    @apply text-white bg-blue-600 border-2 border-blue-600 px-4 py-2
}
 */

 nav button:hover {
    transition: 450ms;
    background-color: var(--primary-color);
}